
:root {
  --max-width: 980px;
  --padding: 1rem;
  --background-color: #0e0e0e; 
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: var(--background-color);
  transition: background-color 1000ms;
  /* 0e0e0e */
  /* cc3535 */
  /* de5725 */
  /* 62930d */
  /* 39930d */
  /* 10837a */
  /* 003fa8 */
  /* 6e00aa */
  /* aa0067 */
  @media screen and (min-width: 400px){
    &{
      --padding: 2rem;
    }
  }
  @media screen and (min-width: 768px){
    &{
      --padding: 3rem;
    }
  }

}


*, *::after, *::before{
  box-sizing: border-box;
}

* {
  scrollbar-color: #333 rgba(0,0,0,0);
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
  /* background-color: rgba(0, 0, 0, 0); */
}
 
*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
 
*::-webkit-scrollbar-thumb {
  background-color: #333;
}

html{
  scroll-behavior: smooth;
}

body,html{
  height: 100%;
  height: 100vh;
  height: 100dvh;
  margin:0;
  padding:0;
}

.container{
  height: 100%;
  height: 100vh;
  height: 100dvh;
  margin:0;
  padding:0;
}


a, a:hover, a:visited{
  color: #ffa000;
}

a:active{
  color: #ffbd4d;
}
