.link{

  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 1rem;
  overflow: hidden;
  background: #000000;
  border: 1px solid rgb(69 69 69 / 87%);
  transition: border 300ms;

  & .image{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    transition: transform 300ms;
  }

  &.link:hover{
    border: 1px solid var(--sign-bg);
    & .image{
      transform: scale3d(1.1,1.1,1);
    }
  }
}